header{
    display: flex;
    text-align: center;
    background-color:lightseagreen;
    font-weight: bolder;
    font-size:24px;
    height:50px;
}
header>div{
    align-self: center;
    margin:auto
}
body{
    margin:0px;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    margin:0px;
    padding: 0px;
    height: 60px;
    list-style-type: none;
    background-color: #7b929c;
    border-color:#97afba;
    border-width: 1px;
    border-style: solid;
}
li{
    align-self: center;
    display: inline;
}
li a{
    padding:21px 21px 21px 21px  ;
}
li a:hover{
    color: white;
    background-color:#97afba;
}
#main{
    position: relative;
    background-color:#7b929c;
    height:500px
}
#text_main{
    position:absolute;
    top:50%;
}
#subsol{
    background-color: indianred;
    margin:0px;
    height:150px;
    display: flex;
}
#subsol_text{
    align-self: center;
}
